@electron-backgroundcolor: #2B2E3B;
@electron-text: #9FEAF9;
@electron-accent: #4E8CA2;
@electron-color: @electron-accent;

html, body {
    padding: 0;
    margin: 0;
    cursor: default;
    -webkit-user-select: none;
    user-select: none;
    font-family: sans-serif;
    background-color: @electron-backgroundcolor;
    color: @electron-text;
    overflow: auto;
}

a, a:hover, a:visited, a:active, a:focus {
    text-decoration: none;  
    font-weight: bold;
}
a {
    color: @electron-color;
    -webkit-transition: color 1s ease;
    transition: color 1s ease;  
}
a:hover {
    color: lighten(@electron-color, 25%);
    -webkit-transition: color 0.2s ease;
    transition: color 0.2s ease;
}

#gravatars {
    position: absolute;
    top: 420px;
    left: 0;
    right: 0;
    margin-bottom: 110px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;

    .gravatar-card {
        position: relative;
        /*float: left;*/
        display: inline-block;
        background-color: darken(@electron-backgroundcolor, 2%);
        padding: 18px;
        border-radius: 10px;
        margin-right: 15px;
        margin-bottom: 15px;
        box-shadow: 2px 2px 5px fade(#000, 20%);
        -webkit-transition: box-shadow 0.2s ease, border-radius 0.6s ease;
            transition: box-shadow 0.2s ease, border-radius 0.6s ease;
    }
    .gravatar-card:hover {
        box-shadow: 3px 3px 8px fade(#000, 20%);
        border-bottom-right-radius: 2px;
        border-top-left-radius: 2px;
        -webkit-transition: box-shadow 0.2s ease, border-radius 0.6s ease;
            transition: box-shadow 0.2s ease, border-radius 0.6s ease;
        img {
            box-shadow: 0px 0px 5px #000, 0px 0px 15px fade(@electron-accent, 70%), 0px 0px 3px fade(#fff, 90%);    
            border-bottom-right-radius: 2px;
            border-top-left-radius: 2px;
            -webkit-transition: box-shadow 0.2s ease, border-radius 0.6s ease;
            transition: box-shadow 0.2s ease, border-radius 0.6s ease;
        }
    }    

    img {
        box-shadow: 0px 0px 5px #000;
        border-radius: 10px;
        -webkit-transition: box-shadow 1.2s ease, border-radius 0.6s ease;
        transition: box-shadow 1.2s ease, border-radius 0.6s ease;
    }    

    .email {
        padding-top: 12px;        
    }
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    text-transform: uppercase;  
    border-top: 1px solid darken(@electron-backgroundcolor, 2%);
    background-color: fade(lighten(@electron-backgroundcolor, 3%), 95%);
    padding-top: 8px;
    vertical-align: middle;

    #gravatar {
        display: inline-block;
        width: 45px;
        height: 45px;
        padding: 16px;                

        img {            
            width: 45px;
            height: 45px;            
            border-radius: 8px;
            box-shadow: 0 0 5px #000;
        }
    }    

    div {
        display: inline-block;     
        margin-left: 16px; 
        vertical-align: middle;  
        text-shadow: 0 0 5px #000;                         
    }
}

#header {
    position: absolute;
    text-align: center;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: 1px solid darken(@electron-backgroundcolor, 2%);
    background-color: fade(lighten(@electron-backgroundcolor, 3%), 95%);
    padding-top: 8px;  

    h1 {
        text-shadow: 0px 0px 8px #000;
        color: lighten(@electron-accent, 15%);
        -webkit-transition: text-shadow 0.8s ease, color 1.2s ease;
        transition: text-shadow 0.8s ease, color 1.2s ease;
    }
    h1:hover {
        text-shadow: 0px 0px 10px #eee;
        color: #fff;
        -webkit-transition: text-shadow 0.2s ease, color 0.2s ease;
        transition: text-shadow 0.2s ease, color 0.2s ease;
    }

    svg {    
        width: 250px;
        height: 250px;
        max-width: 250px;
        min-width: 250px;
        -webkit-transition: filter 1.5s ease;
        transition: filter 1.5s ease; 
        padding: 25px; 
    }
    .svg {
        filter: drop-shadow(0px 0px 5px #000);
        path {        
            fill: @electron-color;
            -webkit-transition: fill 1.5s ease, filter 1.5s ease;
            transition: fill 1.5s ease, filter 1.5s ease;    
        }
    }    
    .svg:hover {
        filter: drop-shadow(0px 0px 5px #eee);
        -webkit-transition: filter 0.2 ease;
        transition: filter 0.2s ease;

        path {
            fill: #fff;
            -webkit-transition: fill 0.2 ease;
            transition: fill 0.2s ease;
        }    
    }
}

.fa {
    margin-left: 3px;
    margin-right: 3px;        
}

.fa-inline {
    margin: 0;
}    